App {
  display: inline-flex;
}

.Navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  float: left;
  margin-top: 40vh;
}
.Navigation button {
  margin: 5px;
}
.Content {
  flex: 1;

  margin-left: 160px;
}
