.App {
  display: inline-flex;
  background-color: #090807;
}

.Navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 160px;

  align-items: center;
  justify-content: center;
  float: left;
  margin-top: 40vh;
}
.Navigation button {
  margin: 5px;
}
.Content {
  flex: 1;
  border-radius: 25px 0px 0px 25px;
  margin-left: 160px;
  background-color: #f5f6f7;
  overflow-y: scroll;
  max-height: 100vh;
}
