.App {
  display: inline-flex;
  background-color: #090807;
  font-family: 'Industry';
  width: 100vw;
  height: 100vh;
}

.Navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 180px;
  justify-content: center;
  float: left;
  margin-top: 40vh;
}
.Navigation button {
  margin: 1rem;
  color: white;
  background-color: transparent;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.Content {
  flex: 1;
  border-radius: 25px 0px 0px 25px;
  margin-left: 160px;
  background-color: #f5f6f7;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100vh;
}
.activePage {
  text-decoration: underline orange 2px;
  text-underline-offset: 4px;
}
